.cart {
  background-color: rgba(0,0,0,0.02);
  box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.2), 0 1px 0 rgba(0,0,0,0.07), inset 0 0 0 1px rgba(0,0,0,0.05);
  width: 50%;
  box-sizing: border-box;
  padding: 25px;
}

.cart__table {
  width: 100%;
  border-color: #ececec;
  border-collapse: collapse;
}

.cart__link {
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.cart__link:hover {
  text-decoration: underline;
}

.cart__thead-row {

}

.cart__thead {
  text-transform: uppercase;
  font-size: 18px;
}

.cart__thead th {
  padding-bottom: 25px;
}


.cart__thead-product {
  text-transform: uppercase;
  width: 50%;
}

.cart__thead-quantity {
  width: 20%;
}

.cart__thead-price {
  width: 30%;
}

.cart__tbody {

}

.cart__tbody-row {

}

.cart__tbody-row td {
  font-size: 14px;
  text-transform: uppercase;
}

.cart__tfoot-row {

}


.cart__tfoot-row td, .cart__tfoot-row th {
  font-size: 14px;
  text-transform: uppercase;
  border-top: 1px solid rgb(141, 141, 141);
  padding-top: 5px;
}


.cart__tfoot-total {
  
}

.cart__tfoot-price {

}

.form {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.form__textarea {
  min-height: 150px;
  width: 250px;
  resize: none;
  font-size: 14px;
  padding-top: 5px;
}

.form__input {
  box-sizing: border-box;
  margin-top: 5px;
  width: 250px;
  height: 30px;
  border: 1px solid #DADADA;
  background-color: #F7F7F7;
  outline: none;
  padding-left: 5px;
  font-size: 14px;
}

.form__input:focus {
  border-color: #9e9e9e;
}

.form__submit {
  margin-top: 15px;
  padding-top: 2px;
  transition: ease-in-out .2s;
  color: white;
  background-color: black;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.form__submit:hover {
  letter-spacing: 7px;
}

