.details {
  background: #ffffff;
  margin: 15px;
  width: 1000px;
  height: 550px;
  position: relative;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.details__container {
  display: flex;
  flex-direction: column;
}

.details__image {
  padding: auto;
  align-self: center;
  height: 400px;
  border-radius: 2px 2px 0 0;
  margin-bottom: 35px;
}

.details__name {
  font-size: 24px;
  text-transform: uppercase;
}

.details__desc {

}

.details__stock {

}

.details__price {

}

.details__add {
  
}