.item {
  background-color: #DDDDDD;
  border: 1px solid black;
  margin: 10px;
  width: 250px;
  height: 400px;
}

.item__image {
  width: 100%;
  height: 190px;
}

.item__name {
  
}

.item__desc {

}

.item__price {

}

.item__add {
  
}

.item__stock {
  color: rgb(83, 226, 83);
}

.item__stock-disabled {
  color: rgb(206, 80, 80);
}