.item {
  margin: 15px;
  width: 250px;
  height: 330px;
  position: relative;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0,0,0,0.02);
  box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.2), 0 1px 0 rgba(0,0,0,0.07), inset 0 0 0 1px rgba(0,0,0,0.05);
}

.item__image {
  padding: auto;
  align-self: center;
  height: 225px;
  border-radius: 2px 2px 0 0;
  margin-bottom: 35px;
}

.item__name {
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.item__name:hover {
  text-decoration: underline;
}

.item__price {
  color: rgb(107, 107, 107);
  margin-top: 15px;
  font-size: 14px;
}